.general { 
  width: 100%;
  grid-gap: 0.625rem;
  margin: 0 auto;
  max-width: 500px;
  padding: 3rem;
  
  .profileArea {
    display: flex;
    flex-direction: column;

    @media (min-width: 860px) {
      display: block;
    }
  }

  .aboutArea {
    padding-top: 2rem;
    padding-left: 2rem;
  }

  @media(min-width: 860px) {
    max-width: 100%;
    display: grid;
    grid-template-areas: "profileArea aboutArea";
    grid-template-columns: 200px 1fr;
  } 
}