.about-area {
	width: 95%;
	height: 60vh;
	background: var(--dark-700);

	display: flex;
	justify-content: center;
	flex-direction: column;

	margin: 0 0 0 2rem;

	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;

	@media (max-width: 860px) {
		height: auto;
		margin: 0 auto;

		span {
			margin-top: 1rem;
		}

		p {
			margin-bottom: 1rem;
		}
	}

	span {
		font-size: 1.5rem;
		font-weight: 500;

		color: var(--light-text-200);
		// margin-top: 1rem;
		margin-left: 1rem;

		strong {
			color: var(--border-color);
			font-style: italic;
		}
	}

	p {
		width: 90%;
		font-size: 1.2rem;
		font-weight: 400;

		color: var(--light-text-200);
		margin-left: 1rem;
		margin-bottom: 1rem;

		&:nth-child(2) {
			margin-top: 1rem;
		}

		strong {
			color: var(--border-color);
			font-style: italic;
		}
	}
}
